/* Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

/* Common Styles or Utilities */
body {
	font-family: 'Poppins', sans-serif;
	background-color: #f3f1ff;
}

main {
  display: flex;
  justify-content: center;
}

.container {
	background-color: #ffffff;
  width: 870px;
}

/* Top Players Style */
.section-title {
  color: #562EFF;
}
.players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.player {
	display: flex;
	align-items: center;
	justify-content: center;
}
.player img {
	width: 56px;
	height: 56px;
}
